<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="js/lib/require/require.js" data-main="/js/main"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="container">
    </div>
  </body>
</html>